/Waze/build/
Waze/nbproject/private/private.properties
Waze/nbproject/private/private.properties
Waze/nbproject/private/private.properties
Waze/nbproject/private/private.properties
Waze/nbproject/private/private.xml
Waze/build/classes/waze/WazeController.class

